/*
File: Myimage.css
GUI Assignment: Creating Your First Web Page
Peicai Chen
9/16/2021 
*/
img{
    display:block;
    margin: 0 auto 0 auto;
    width :20%;
}
h1{
    text-align: center;
}
h2{
    width:50%;
    text-align: left;
}